<h1>商品詳細</h1>

<%= image_tag @item.get_image(100,100) %>

<p>商品名: <%= link_to @item.name, admin_item_path(@item.id) %></p>

<p>商品説明: <%= @item.introduction %></p>

<p>販売価格: <%= @item.price %></p>

    <%= link_to '編集する', edit_admin_item_path(@item.id) %>

