<h2>会員情報編集</h2>
<%= form_with model: @customer,url: admin_customer_path,method: :patch do |f| %>

<p><%= @customer.id %></p>

<label>名前</label>
<%= f.text_field :last_name, placeholder:"氏"%><%= f.text_field :first_name, placeholder:"名"%><br>

<label>フリガナ</label>
<%= f.text_field :last_name_kana, placeholder:"氏"%><%= f.text_field :first_name_kana, placeholder:"名"%><br>
<div class="form_field">
<%= f.label "郵便番号" %>
<%= f.text_field :postal_code %><br>
</div>
<label>住所</label>
<%= f.text_field :address %><br>

<label>電話番号</label>
<%= f.text_field :telephone_number %><br>

<label>メールアドレス</label>
<%= f.email_field :email %><br>

<label>会員ステータス</label>
<%= f.radio_button :is_active, true %>
<%= f.label "有効" %>
<%= f.radio_button :is_active, false %>
<%= f.label "退会" %>

<%= f.submit "編集内容を保存" %>

<% end %>
