<h1>注文履歴詳細</h1>


<h2>注文情報</h2>
<table>
    <tr>
        <td>注文日</td><td><%= @order.created_at.strftime("%Y/%m/%d %H: %M: %S") %></td>
    </tr>
    <tr>
        <td>配送先</td><td><%= @order.shipping_address %><%= @order.shipping_postal_code %><%= @order.shipping_name %></td>
    </tr>
    <tr>
        <td>支払方法</td><td><%= @order.method_payment %></td>
    </tr>
    
</table>


<h2>注文内容</h2>
<table>
    <th>商品</th><th>単価(税込)</th><th>個数</th><th>小計</th>
    <% @order_details.each do |order_detail| %>
    <tr>
        <td><%= order_detail.item.name %></td>
        
        <td><%= order_detail.tax_included_price %></td>
        
        <td><%= order_detail.quantity %></td>
        
        <td><%= order_detail.tax_included_price*order_detail.quantity %></td>
        
    </tr>
    <% end %>
</table>


<h2>請求情報</h2>
<table>
    <tr>
        <td>商品合計</td><td><%= @order.payment_amount - @order.postage %></td>
    </tr>
    <tr>
        <td>配送料</td><td><%= @order.postage %></td>
    </tr>
    <tr>
        
        <td>ご請求額</td><td><%= @order.payment_amount %></td>
    </tr>
    
</table>