<%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>

<div>
 <%= image_tag @item.get_image(100,100) %>
 
<p><%= @item.name %></p>

<p><%= @item.introduction %></p>

<p><%= @item.price %></p>

<p>数量を選択してください。</p>
<%= f.select :amount, *[1..10] %>

<%= f.hidden_field :item_id, :value => @item.id %>

<%= f.submit 'カートに入れる' %>

</div>

<% end %>